:root{
  --transparent-grey:rgba(30,30,30,0.8);

  --focus-color:#FF848B;
  --focus-hover:#FF535B;
  --distracted-color:#AC3539;
  --distracted-color:#960000;
  --field-gray:#d6d6d6;

  --buttonSkin:url("woodtexture.jpg");
  /* --buttonSkin:#8f3d9f; */
}


body{
  font-family:arial;
  margin:0px;
  padding:0px;
}

button:focus
{
  outline-color:black;
  outline-width:2px;
}

.background
{
  position:fixed;

  top:0px;

  width:100vw;
  height:100vh;
  margin:0px;
  z-index:-100;
  background-image:url("vaporwave1.gif");
  background-size:cover;
}

.appContainer
{
  display:block;

  width:460px;
  min-height:573px;
  /* make height auto later */
  /* or leave it non auto, looks more object like */

  margin-left:auto;
  margin-right:auto;
  margin-top:30px;
  margin-bottom:30px;
  /* border:2px solid black; */
  border-radius:30px;

  overflow-y:scroll;

  background-color:var(--transparent-grey);
}

/*unused but its still in the JS*/
.innerAppContainer
{

}

.appNav
{
  display:grid;
  grid-template-columns:25% 25% 25% 25%;
}

.leftNav, .centralNav, .rightNav
{
  text-align:center;
  padding:10px;
  border:none;
  font-size:15px;
  background-color:black;
  color:white;
}
.leftNav:focus, .centralNav:focus, .rightNav:focus
{
  outline:none;
  background-color:rgba(30,30,30,0.3);
}

.leftNav
{
  /* border-top-left-radius: 30px;
  border: 2px solid grey;
  margin:0px; */
}

.leftNav.selected, .centralNav.selected, .rightNav.selected
{
  background-color:rgba(70,70,70,0.1);
}
