body{
  font-family:arial;
  margin:0px;
  padding:0px;
}

button:focus
{
  outline-color:black;
  outline-width:2px;
}

.appContainer
{
  display:block;

  width:460px;
  height:auto;
  /* make height auto later */

  margin-left:auto;
  margin-right:auto;
  margin-top:10vh;
  /* border:2px solid black; */
  border-radius:30px;

  overflow:hidden;

  background-color:rgba(0,0,0,0.5);
}

.innerAppContainer
{

}

.appNav
{
  display:grid;
  grid-template-columns:25% 25% 25% 25%;
}

.leftNav, .centralNav, .rightNav
{
  text-align:center;
  padding:10px;
  border:none;
  font-size:15px;
}
.leftNav:focus, .centralNav:focus, .rightNav:focus
{
  outline:none;
  background-color:grey;
}

.leftNav
{
  /* border-top-left-radius: 30px;
  border: 2px solid grey;
  margin:0px; */
}

.leftNav.selected, .centralNav.selected, .rightNav.selected
{
  background-color:grey;
}
