body{
  font-family:arial;
  margin:0px;
  padding:0px;
}

button:focus
{
  outline:none;
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom-style:solid;
  border-bottom-color:rgba(255,0,0,0.3);
  border-bottom-width:3px;
}

.appContainer
{
  display:block;

  width:460px;
  height:auto;
  /* make height auto later */

  margin-left:auto;
  margin-right:auto;
  margin-top:10vh;
  border:2px solid black;
  border-radius:30px;

  overflow:hidden;
}

.innerAppContainer
{
  padding:20px;
}

.appNav
{
  display:grid;
  grid-template-columns:25% 25% 25% 25%;
}

.leftNav, .centralNav, .rightNav
{
  text-align:center;
  padding:10px;
  border:none;
  font-size:15px;
}

.leftNav
{
  /* border-top-left-radius: 30px;
  border: 2px solid grey;
  margin:0px; */
}

.leftNav.selected, .centralNav.selected, .rightNav.selected
{
  background-color:grey;
}
