

.circleTimerContainer
{
  display:block;
  width:340px;
  height:200px;

  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  border-radius:50%;
  padding-top:70px;
  padding-bottom:70px;
  background-color:var(--focus-color);
  border:none;
}

.circleTimerContainer:hover
{
  background-color:var(--focus-hover);
  border:none;
}

.circleTimerContainer.distracted:hover
{
  background-color:var(--distracted-color);
}

.timerTime
{
  text-align:center;
  font-size:65px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.tagTitle
{
  text-align:center;
  line-height:25px;
  font-size:17.5px;
}

.distractedTitle
{
  width:150px;

  margin-left:auto;
  margin-right:auto;
  text-align:center;
  line-height:25px;
  font-size:17.5px;
  background-color:black;
  color:red;
}

.timerButtonContainer
{
  margin-top:20px;
  padding:20px 20px 20px 20px;
  background:var(--buttonSkin);
}



.tagForm
{
  margin:3.5px 7px 3.5px 0px;
  color:black;
  border:2px solid black;
  font-size:20px;
}

.tagForm:focus
{
  outline:none;
  background-color:var(--focus-color);
}

.submitTagForm
{
  border:none;
  background-color:var(--focus-color);
  margin:3.5px 7px 3.5px 0px;
  color:black;
  font-size:20px;
  vertical-align:bottom;
  width:29px;
  padding-bottom:5px;
}

.submitTagForm:hover
{
  background-color:var(--focus-hover);
}

.tagButtonCoupler
{
  display:inline-block;
  margin:3.5px 7px 3.5px 0px;
  color:black;
}

.tagButtonName,.tagButtonDelete
{
  border:none;
  background-color:var(--focus-color);
  color:black;
  font-size:20px;
}


.tagButtonDelete
{
  margin-left:2.5px;
}

.focusCheckBoxCaption
{
  display:inline-block;
  margin:3.5px 7px 3.5px 0px;
  font-size:20px;
  height:29px;
  line-height:29px;
  vertical-align:bottom;
}
.focusCheckBox
{
  appearance:none;
  display:inline-block;
  margin:3.5px 7px 3.5px 0px;
  height:29px;
  width:29px;
  border:2px solid black;
  vertical-align:bottom;
  background-color:white;
}

.focusCheckBox:focus
{
  outline:1px solid black;
}

.focusCheckBox.checked
{
  background-color:black;
}

.resetButton
{
  display:block;

  margin-top:20px;
  margin-left:auto;
  margin-right:auto;

  border:none;
  background-color:var(--focus-color);
  color:black;
  font-size:20px;
}

.resetButton:hover
{
  background-color:var(--focus-hover);
}

.distracted
{
  background-color:var(--distracted-color);
}
