.settingsContainer
{
  margin-top:20px;
  height:173px;
  padding:20px 20px 20px 20px;
  background:var(--buttonSkin);
  overflow-y:scroll;
}

.historyContainer
{
  height:262px;
  padding:20px;
  overflow-y:scroll;
}

.sessionListing
{
  border:none;
  background-color:rgba(0,0,0,0);

  font-size:15px;
  text-align:left;
  width:100%;
  margin:0px;
  margin-bottom:10px;

  padding:10px;
  color:white;
}

.listingTitle
{
  font-size:30px;
  font-weight:bold;
}

.listingDeleteButton
{
  float:right;
  margin-right:15px;
  margin-top:5px;
  z-index:1000;
}

.historyBar
{
  padding:10px 20px 10px 20px;
  background-color:black;
  color:white;
}

.barBackButton
{
  background-color:var(--distracted-color);
  border:none;
  font-size:20px
}

.barTitle
{
  font-size:45px;
}

.barSubtitle
{
  margin-top:10px;
}
